@font-face {
    font-family: 'MyFont';
    src: url('./raleway-v29-latin-regular.woff2') format('woff2'),
    url('./Roboto-Regular-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: red;
    font-family: 'MyFont', sans-serif;
    /*background: url('./rework_logo.png');*/
}